/*
Orange: #dd9530
Green: #acdd30
HardGreen: #2ed15e
Blue: #258ba8
blacK: #212021
*/

html{
    font-family: 'Ubuntu', sans-serif;
}

a{
	text-decoration: none;
	color: #53FF58; 
}
.title{
	text-transform: capitalize;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}
.paragraph{
	line-height: 1.5;
}

.title-item{
	text-transform: capitalize;
	padding-bottom: 1em;
	padding-top: 1em;
}
.table{
	width: 100%;
	border-spacing: 0;
	border: none;
}

.table td, .table th{
	text-align: left;
	padding: 1em;
}
/*
	Funcion de subclase
*/
.table tr:nth-child(even){
	background-color: #d2fffb;
}
.container{
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 1em;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{

	max-width: 800px;
	width: 100%;
	height: 80vh;

	
	
	background-color: #FFFFFF;
	padding: 2em;
	border-radius: 1em;

	position: relative;

	-webkit-box-shadow: 6px 6px 10px #000;
	-moz-box-shadow: 6px 6px 10px  #000;
	box-shadow: 6px 6px 10px #000;
}
.stars{
	color: #DD90FF;
}

.position{
	padding: 1em 1em 0em 1em;
	background-color: #35FF57;
	border-top-left-radius: 1em; 
}
.relleno{
	background-color: #ddc763;
	border-top-left-radius: 1em;
}

.linea{
	border-bottom: solid;
	border-color: #DD90FF;
	
}

.actions{
	position: absolute;
	right: 1em;
	top: 1em;

}

.base_color{
	width: 2.5em;
	height: 2.5em;
	background-color: #007369;
	border-radius: 50%;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 0px 1px 5px #000;
	-moz-box-shadow: 0px 1px 5px  #000;
	box-shadow: 0px 1px 5px #000;
}

.address{
	font-weight: 700;
	color: #4F267B;
	font-size: 1em;
	font-style: italic;
}

.imagen-item{
	float: left;
	height: 200px;
	margin-right: 1em;
	border-radius: 30px;
}




@media(max-width: 600px){
	.content{
		padding: 1em;
		overflow: scroll;
	}
	td{
		display: block;
		width: 100%;
	}

	td:nth-of-type(1){
		font-size: 1.5em;
		font-weight: bold;
		color: #129C8D;
	}

	th{
		display: none;
	}
}
@media(min-height: 550px){
	.content{
		height: 500px;
	}
}